
@import '../../global.scss';

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.topdown{
  position: fixed;
  height:80px;
  background-color: rgb(4, 6, 6);
  .scrolling-text {
    overflow: hidden; 
    width: 100%;
    white-space: nowrap; 
    color: white;
    animation: scroll-right 10s linear infinite;
  }
  
  @keyframes scroll-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

